/* :root {
  --body-color: #0d1026; */
  /* --box-bg: #26d0ce; */
  /* --box-fg: #fff;
  --box-border: #d3d3d3;
  --box-width: 150px;
  --border-radius: 5px;

  color-scheme: dark;
} */

/* body {
  height: 100vh;
  display: grid;
  justify-items: center;
  overflow: hidden;
  background-color: var(--body-color);
} */

/* nav {
  margin: 2%;
  display: flex;
  text-align: center;
  font: 1.3rem sans-serif; */
  /* box-shadow: 0 5px 50px 0px rgb(255 255 255 / 0.3); */

  /* & a {
    transition: 0.2s;
    color: var(--box-fg);
    text-decoration: none;
    width: var(--box-width);
    background: var(--box-bg);
    padding: calc(var(--box-width) / 10); */

    /* &:first-child {
      border-top-left-radius: var(--border-radius);
      border-bottom-left-radius: var(--border-radius);
    } */

    /* &:last-child {
      border-top-right-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
    } */
  /* } */

  /* &:hover {
    & a {
      filter: blur(3px);
      opacity: 0.5;
      outline: 1px solid var(--box-bg);
    } */

    /* & a:hover {
      filter: blur(0px);
      opacity: 1;
      outline: 1px solid var(--box-border);
    } */
  /* } */
/* } */
  
  img{
    transform: rotateX(40deg);
   /* box-shadow: 1px 1px 10px 1px rgb(17, 208, 250); */
  }